@font-face {
    font-family: 'VALORANT';
    src: url('fonts/VALORANT-Regular.woff2') format('woff2'),
        url('fonts/VALORANT-Regular.woff') format('woff');
}

h1 {
  font-family: 'VALORANT' !important;
  font-size: 2.5vw !important;
}

h2, h3 {
  font-family: 'Oswald' !important;
}

body {
  background-color: #1D2024 !important;
  font-family: 'Montserrat' !important;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

.carousel-inner img {
  max-height: 600px !important;
  object-fit: cover;
}

.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.subtitle {
  font-size: 1vw !important;
}
