@font-face {
    font-family: 'VALORANT';
    src: url('VALORANT-Regular.woff2') format('woff2'),
        url('VALORANT-Regular.woff') format('woff');
}

h1 {
  font-family: 'VALORANT' !important;
  font-size: 2.5vw !important;
}
